workflow/email-to-slack-groq.json
{
  "name": "Email → AI Summary → Slack (Groq)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.from.value[0].address }}",
              "operation": "notContains",
              "value2": "noreply"
            },
            {
              "value1": "={{ $json.from.value[0].address }}",
              "operation": "notContains",
              "value2": "no-reply"
            },
            {
              "value1": "={{ $json.from.value[0].address }}",
              "operation": "notContains",
              "value2": "newsletter"
            }
          ]
        },
        "combineConditions": "AND"
      },
      "id": "filter-noise",
      "name": "Filter Noise",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful email assistant. Summarize emails clearly and concisely.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize this email in 2-3 bullet points. Highlight any action items.\\n\\nSubject: {{ $json.subject }}\\nFrom: {{ $json.from.value[0].address }}\\n\\nBody:\\n{{ $json.text }}\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "groq-summarizer",
      "name": "Groq AI Summarizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "YOUR_GROQ_CREDENTIAL_ID", "name": "Groq API Key" }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#email-digest",
        "text": "=*📧 New Email Summary*\n\n*From:* {{ $('Gmail Trigger').item.json.from.value[0].name }}\n*Subject:* {{ $('Gmail Trigger').item.json.subject }}\n\n{{ $json.choices[0].message.content }}\n\n_——_",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-post",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "slackOAuth2Api": { "id": "YOUR_SLACK_CREDENTIAL_ID", "name": "Slack account" }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Filter Noise", "type": "main", "index": 0 }]]
    },
    "Filter Noise": {
      "main": [[{ "node": "Groq AI Summarizer", "type": "main", "index": 0 }]]
    },
    "Groq AI Summarizer": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
