workflow/email-to-slack-groq.json
{
  "name": "Email → AI Summary → Slack (Groq)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "filters": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.from.value[0].address }}", "operation": "notContains", "value2": "noreply" },
            { "value1": "={{ $json.from.value[0].address }}", "operation": "notContains", "value2": "no-reply" },
            { "value1": "={{ $json.from.value[0].address }}", "operation": "notContains", "value2": "newsletter" },
            { "value1": "={{ $json.from.value[0].address }}", "operation": "notContains", "value2": "mailer-daemon" },
            { "value1": "={{ $json.subject }}", "operation": "notContains", "value2": "OTP" },
            { "value1": "={{ $json.subject }}", "operation": "notContains", "value2": "One-Time Password" },
            { "value1": "={{ $json.subject }}", "operation": "notContains", "value2": "verification" },
            { "value1": "={{ $json.subject }}", "operation": "notContains", "value2": "password reset" }
          ]
        },
        "combineConditions": "AND"
      },
      "id": "filter-noise",
      "name": "Filter Noise",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email triage assistant. Respond with ONLY valid JSON, no markdown fences, no extra text. Schema: {\\\"priority\\\": \\\"URGENT|NORMAL|LOW\\\", \\\"emoji\\\": \\\"🔴|🟡|🟢\\\", \\\"summary\\\": [\\\"bullet1\\\", \\\"bullet2\\\"], \\\"action_item\\\": \\\"string or None\\\"}. URGENT = needs action within 24h. NORMAL = standard email. LOW = FYI only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Subject: {{ $json.subject }}\\nFrom: {{ $json.from.value[0].address }}\\n\\nBody:\\n{{ $json.text.slice(0, 3000) }}\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.2\n}",
        "onError": "continueErrorOutput",
        "options": { "timeout": 15000 }
      },
      "id": "groq-summarizer",
      "name": "Groq AI Summarizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "YOUR_GROQ_CREDENTIAL_ID", "name": "Groq API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.item.json.choices[0].message.content.trim();\nraw = raw.replace(/^```json\\s*/i, '').replace(/```$/, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { priority: 'NORMAL', emoji: '🟡', summary: [raw.slice(0, 300)], action_item: 'None' };\n}\nreturn {\n  json: {\n    priority: parsed.priority || 'NORMAL',\n    emoji: parsed.emoji || '🟡',\n    summary_bullets: (parsed.summary || []).map(s => '• ' + s).join('\\n'),\n    action_item: parsed.action_item || 'None'\n  }\n};"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#email-digest",
        "text": "={{ $json.emoji }} *{{ $('Gmail Trigger').item.json.subject }}*\n_{{ $('Gmail Trigger').item.json.from.value[0].name }} · {{ $json.priority }}_\n\n{{ $json.summary_bullets }}\n\n*Action:* {{ $json.action_item }}",
        "otherOptions": { "mrkdwn": true }
      },
      "id": "slack-post",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1120, 220],
      "credentials": {
        "slackOAuth2Api": { "id": "YOUR_SLACK_CREDENTIAL_ID", "name": "Slack account" }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#automation-alerts",
        "text": "=⚠️ Email → Slack workflow failed\n\n*Node:* Groq AI Summarizer\n*Email subject:* {{ $('Gmail Trigger').item.json.subject }}\n*Error:* {{ $json.error?.message || 'Unknown error' }}\n\nCheck the n8n execution log for details.",
        "otherOptions": { "mrkdwn": true }
      },
      "id": "slack-error-alert",
      "name": "Post Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [900, 420],
      "credentials": {
        "slackOAuth2Api": { "id": "YOUR_SLACK_CREDENTIAL_ID", "name": "Slack account" }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [[{ "node": "Filter Noise", "type": "main", "index": 0 }]] },
    "Filter Noise": { "main": [[{ "node": "Groq AI Summarizer", "type": "main", "index": 0 }]] },
    "Groq AI Summarizer": {
      "main": [
        [{ "node": "Parse AI Response", "type": "main", "index": 0 }],
        [{ "node": "Post Error Alert", "type": "main", "index": 0 }]
      ]
    },
    "Parse AI Response": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}